.create-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tab-switcher {
  display: flex;
  background: #252525;
  padding: 5px;
  border-radius: 12px;
  margin-bottom: 25px;
}

.tab-switcher button {
  flex: 1;
  padding: 12px;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
  color: #ffffff;
  border-radius: 10px;
  transition: 0.3s;
}

.tab-switcher button.active {
  background: #d2d2d2;
  color: #007bff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-card {
  /* background: #4b4b4b; */
  color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid #eee;
}

.form-card h2 {
  margin-bottom: 25px;
  color: #1c1e21;
  font-size: 24px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #ffffff;
}

.input-group input {
  height: 50px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #edeff2;
  color: #e0e0e0;
  background-color: #121212;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  font-size: 17px;
}

.input-group textarea {
  height: 120px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}
.input-group input::placeholder,
.input-group textarea::placeholder {
  color: #888888;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.input-group input:focus,
.input-group textarea:focus {
  border-color: #3a86ff;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #007bff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #0056b3;
}

.submit-btn.order-theme {
  background: #28a745;
}

.submit-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .create-container {
    padding: 0px;
    margin-bottom: 60px;
  }
  .tab-switcher {
    margin-top: 10px;
    margin-bottom: 12px;
  }
  .form-card {
    padding: 15px;
  }

  .input-group input,
  .input-group textarea {
    font-size: 15px;
  }
  .input-group label {
    font-size: 15px;
  }
}
