.detail-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 5px;
  color: white;
}

.back-btn {
  background: none;
  border: 1px solid #444;
  color: #ccc;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.back-btn:hover {
  background: #333;
  color: white;
}

.resume-card-detail {
  background: #1e1e1e;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #333;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.detail-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.detail-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
}

.detail-info h1 {
  font-size: 24px;
  margin: 0;
}

.detail-soha {
  color: #aaa;
  margin-top: 5px;
}

.detail-kasb {
  font-size: 20px;
  margin-bottom: 15px;
}

.detail-bio {
  line-height: 1.6;
  color: #ddd;
  font-size: 16px;
  background: #252525;
  padding: 10px;
  border-radius: 12px;
}

.detail-footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail-views {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #777;
  font-size: 14px;
}

.detail-tg-btn {
  background: #333;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.detail-tg-btn:hover {
  background: #3f4142;
}

.loader-center {
  text-align: center;
  margin-top: 100px;
  color: white;
}
