.detail-container {
  max-width: 100%;
  margin-top: 50px;
  padding: 5px;
  color: white;
}

.back-btn {
  background: none;
  border: 1px solid #444;
  color: #ccc;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.back-btn:hover {
  background: #333;
  color: white;
}

.resume-card-detail {
  border-radius: 20px;
  /* border: 1px solid #373737; */
}

.detail-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.detail-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
}

.detail-info h1 {
  font-size: 20px;
  margin: 0;
}

.detail-soha {
  color: #aaa;
}

.detail-kasb {
  font-size: 20px;
  margin-bottom: 15px;
}

.detail-bio {
  line-height: 1.6;
  color: #ddd;
  font-size: 17px;
  padding: 10px;
  border-radius: 12px;
}

.detail-footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail-views {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #777;
  font-size: 14px;
}

.detail-tg-btn {
  background: #33333300;
  width: 220px;
  border: 1px solid #3a3a3a;
  color: white;
  padding: 15px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.detail-tg-btn:hover {
  background: #14141489;
}

.loader-center {
  text-align: center;
  margin-top: 100px;
  color: white;
}
