/* --- SKELETON LOADER ANIMATSIYASI --- */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.buyurtmalar-loader {
  position: relative;
  background: #1e1e1e;
  padding: 10px 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
}

.loader-img,
.loader-text,
.loader-btn {
  background: linear-gradient(90deg, #2b2b2b 25%, #3a3a3a 50%, #2b2b2b 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 6px;
}

.loader-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  flex-shrink: 0;
}

.about-user-loader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.about-user-loader .loader-text {
  height: 15px;
}
.about-user-loader .loader-text:first-child {
  width: 150px;
}
.about-user-loader .loader-text:last-child {
  width: 100px;
}

.buyurtmalar-loader > .loader-text {
  margin-top: 15px;
  height: 20px;
}

.buyurtmalar-loader > h2.loader-text {
  width: 80%;
  height: 25px;
  margin-top: 25px;
}

.buyurtmalar-loader > p.loader-text {
  width: 100%;
  height: 15px;
  margin-top: 15px;
}

.loader-btn {
  width: 140px;
  height: 45px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #2b2b2b;
  max-width: 800px;
  height: 45px;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
}
.search input {
  height: 45px;
  font-size: 18px;
  padding: 0 12px;
  width: 100%;
  border: none;
  outline: none;
  background: #2c2c2c;
}
.search input::placeholder {
  color: #888;
  font-size: 19px;
}

.search button {
  width: 80px;
  height: 45px;
  font-size: 25px;
  background-color: #ffffff14;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 770px) {
  .buyurtmalar-loader {
    padding: 20px;
  }

  .loader-img {
    width: 60px;
    height: 60px;
  }

  .buyurtmalar-loader > h2.loader-text {
    height: 20px;
  }

  .loader-btn {
    height: 40px;
    width: 120px;
  }
}
