.buyurtmalarim {
  display: grid;
  gap: 10px;
  margin-top: 10px;
  align-items: start;
  margin-bottom: 10px;
}
.buyurtmalar {
  background: #1e1e1e;
  padding: 10px 20px;
  border-radius: 8px;
  position: relative;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}

.buyurtmalar:hover {
  border-color: #373737;
}

.user-a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-a img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #333;
}

.about-user {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  margin-left: 10px;
}
.about-user p {
  width: fit-content;
  background-color: #504f56;
  margin-top: 5px;
  padding: 3px 15px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border-radius: 8px;
}

.buyurtma-discripton {
  color: #fff;
  font-size: 25px;
  line-height: 1.12;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  margin-top: 20px;
}
.buyurtma-title {
  line-height: 1.5;
  margin-top: 10px;
  font-size: 17px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.buyurtma-narx {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #444;
  padding: 5px 10px;
  border-radius: 8px;

  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.buyurtma-javob_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  gap: 10px;
  background-color: #333;
  color: #fff; /* oq matn */
  border: 1px solid #555; /* yumshoq border */
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s ease;
}
.buyurtma-javob_btn:hover {
  background-color: #444;
  background-color: #444; /* hoverda accent rang (yashil) */
  border-color: #575757;
}
.buyurtma-javob_btn svg {
  width: 20px;
  height: 20px;
}
.FaClock {
  margin-top: 5px;
}

.crdata {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 20px;
  right: 20px;
  gap: 10px;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.data {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}

.buyurtma-narx-loader {
  width: 110px;
  height: 30px;
  position: absolute;
  right: 20px;
  background: linear-gradient(90deg, #2b2b2b 25%, #3a3a3a 50%, #2b2b2b 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  background-color: #1d51aa;
  border-radius: 6px;
}
.loader-buyurtma-btn {
  background: linear-gradient(90deg, #2b2b2b 25%, #3a3a3a 50%, #2b2b2b 75%);
  width: 200px;
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  height: 45px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
@media (max-width: 770px) {
  .buyurtmalarim {
    margin-bottom: 70px;
  }
  .buyurtmalar {
    padding: 20px;
  }

  .user-a img {
    width: 60px;
    height: 60px;
  }
  .user-a h2 {
    font-size: 16px;
  }
  .buyurtma-narx {
    font-size: 14px;
    font-size: 18px;
  }
  .buyurtma-discripton {
    font-size: 24px;
  }
  .buyurtma-javob_btn {
    font-size: 16px;
  }
}
