@import url("https://fonts.googleapis.com/css2?family=Sekuya&display=swap");
.header-main_content {
  max-width: 55rem;
  margin: 0 auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 13rem;
  display: flex;
}
.header-main_content_title {
  font-family: "Sekuya", system-ui;
  font-size: 0.8rem;
  line-height: 1.3;
  letter-spacing: 3px;
}

.header-main_paragraph {
  font-family: Verdana, Geneva, Tahoma, sans-serif, system-ui;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.2;
}
.header-main_button {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 1.5rem;
}
.btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif, system-ui;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn--primary {
  background-color: blue;
}

.btn--secondary {
  background-color: white;
  color: black;
}
@media (max-width: 768px) {
  .header-main_content {
    margin-top: 20px;
    max-width: 30rem;
  }
  .header-main_content_title {
    font-size: 0.6em;
  }
  .header-main_paragraph {
    font-size: 1em;
  }
}
