@import url("https://fonts.googleapis.com/css2?family=Sekuya&display=swap");
.header-main_content {
  max-width: 55rem;
  margin: 0 auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  display: flex;
}
.header-main_content_title {
  font-family: "Sekuya", system-ui;
  font-size: 0.8rem;
  line-height: 1.3;
  letter-spacing: 3px;
}

.header-main_paragraph {
  font-family: Verdana, Geneva, Tahoma, sans-serif, system-ui;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.2;
}
.header-main_button {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 1.5rem;
}
.btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif, system-ui;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn--primary {
  background-color: blue;
}

.btn--secondary {
  background-color: white;
  color: black;
}
.categories-section {
  padding: 50px 0;
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-top: 0px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  margin-top: 86px;
}

.category-card {
  background-color: var(--card-dark);
  padding: 40px;
  border-radius: 24px;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.19);
  cursor: pointer;
}

.category-card:hover {
  border-color: var(--primary);
}

.cat-icon {
  font-size: 32px;
  color: var(--primary);
  margin-bottom: 20px;
}

/* ***HAQIMIZDA** */

.about-wrapper {
  padding: 10px 0;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-header {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 20px;
}

.badge {
  color: #007bff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  display: block;
}

.main-title {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.visual-box {
  position: relative;
}

.image-card {
  width: 100%;
  height: 450px;
  background: linear-gradient(135deg, #e0eafc 0%, #cfdef3 100%);
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.image-card img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

@keyframes move {
  from {
    transform: translate(-20%, -20%);
  }
  to {
    transform: translate(20%, 20%);
  }
}

.values-list {
  list-style: none;
  padding: 0;
}

.value-item {
  display: flex;
  margin-bottom: 35px;
  transition: 0.3s;
}

.icon-box {
  min-width: 60px;
  margin-top: 5px;
  height: 60px;
  background: #f0f7ff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  color: #007bff;
}

.value-text h4 {
  font-size: 20px;
  color: #007bff;
}

.value-text p {
  color: #e1e1e1;
  margin: 0;
  line-height: 1.5;
}

.stats-panel {
  margin-top: 80px;
  background: #007bff;
  background: linear-gradient(135deg, #007bff 0%, #0056b3 100%);
  border-radius: 40px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  color: white;
  text-align: center;
}

.stat-card {
  padding: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.stat-card:last-child {
  border-right: none;
}

.stat-value {
  font-size: 48px;
  font-weight: 800;
  display: block;
}

.stat-label {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 990px) {
  .about-wrapper {
    margin-top: 20px;
    padding: 0 0 80px 0;
  }
  .about-container {
    padding: 0;
  }
  .about-header {
    margin-bottom: 30px;
  }
  .about-grid {
    grid-template-columns: 1fr;
  }
  .stats-panel {
    grid-template-columns: 1fr;
    margin-top: 10px;
    gap: 20px;
    border-radius: 30px;
  }
  .stat-card {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .image-card {
    height: 350px;
  }
  .main-title {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .header-main_content {
    margin-top: 20px;
  }
  .header-main_content_title {
    font-size: 0.6em;
  }
  .header-main_paragraph {
    font-size: 0.9em;
  }
  .categories-grid {
    margin-bottom: 20px;
  }
}
