.profil-container {
  left: 0;
  margin-top: 80px;
  background-color: rgb(20, 20, 76);
  border-radius: 10px;
  padding: 15px;
}
.user-profil {
  display: flex;
  align-items: center;
  line-height: 23px;
  gap: 20px;
}
.user-profil_img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
}
.user-profil_name p {
}

.user-profil_img img {
  width: 100%;
  height: 100%;
}

.add-counter {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.count {
  background-color: rgb(35, 35, 125);
  padding: 12px;
  border-radius: 15px;
  font-size: 18px;
}
@media (max-width: 800px) {
  .profil-container {
    position: absolute;
    width: 100%;
  }
  .user-profil_img {
    width: 80px;
    height: 80px;
  }
  .user-profil_name h2 {
    font-size: 20px;
    line-height: 15px;
  }
  .social {
    height: 45px;
    font-size: 16px;
  }
}
