.profil-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: "Inter", sans-serif;
}

.profil-container {
  background: rgba(51, 51, 51, 0.9);
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 450px;
  border-radius: 30px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.user-avatar-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  border: 5px solid #fff;
  box-shadow: 0 10px 25px rgba(204, 204, 204, 0.2);
}

.user-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.status-badge {
  position: absolute;
  bottom: 10px;
  right: 1px;
  width: 20px;
  height: 20px;
  background: #28a745;
  border: 3px solid #fff;
  border-radius: 50%;
}

.user-name {
  font-size: 24px;
  color: #eaf7fb;
  margin: 0;
  font-weight: 800;
}

.user-email {
  color: #e3e3e3;
  font-size: 14px;
  margin: 0 15px;
}

.user-role {
  background: #6e6e6e;
  color: #007bff;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.actions-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.main-page_a {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.user-soni {
  background-color: #656565;
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
}
.user-soni p {
  color: #eefbff;
  font-size: 15px;
  font-weight: 600;
}
.user-soni span {
  font-size: 25px;
  font-weight: 700;
}

.action-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background: #656565;
  border-radius: 18px;
  text-decoration: none;
  color: #fdfdfd;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 1px solid #f1f2f6;
  cursor: pointer;
}

.action-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  background: #7d7e80;
}

.icon-circle {
  width: 45px;
  height: 45px;
  background: #f0f3f7;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-size: 20px;
}

.action-item.logout {
  color: #d63031;
  margin-top: 10px;
  font-size: 17px;
}

.action-item.logout .icon-circle {
  background: #fff0f0;
}

.action-item.logout:hover {
  background: #fff0f0;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8); /* qoraroq fon */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.logout-container {
  position: absolute;
  max-width: 600px;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 10;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: showlogout 0.3s ease;
}
@keyframes showlogout {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logout-container h3 {
  margin-bottom: 30px;
}
.logout-btn button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.user-own-resumes {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 10px;
}
.delete-resume-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  right: 5px;
  color: #d63031;
  position: absolute;
  width: 50px;
  height: 50px;
  transition: 0.4s ease;
}
.delete-resume-btn:hover {
  background-color: rgb(141, 33, 33);
  color: #fff;
  border-radius: 50%;
}

@media (max-width: 580px) {
  .profil-wrapper {
    margin-top: 10px;
    padding: 10px;
  }
  .profil-container {
    padding: 30px 10px;
  }
  .logout-container h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .logout-btn button {
    width: 100px;
  }
  .user-own-resumes {
    margin-bottom: 70px;
  }
  .delete-resume-btn:hover {
    background-color: initial;
    color: red;
  }
}
