.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(30px);
  background-color: #0f0f0f8e;
  border: 0.1px solid#f8f8f827;
  padding: 10px 30px;
  border-radius: 1rem;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 1200px;
  z-index: 1000;
}

.Logo {
  display: flex;
  gap: 5px;
  position: relative;
}
.Logo h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
}
.Logo p {
  right: -55px;
  padding: 0 12px;
  border-radius: 10px;
  position: absolute;

  background-color: rgb(23, 55, 170);
}
.navbar {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navbar-active {
  color: #fff;
  transition: 0.2s ease;
  font-weight: 700;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

li {
  list-style: none;
  font-weight: 600;
  color: rgb(237, 237, 237);
}

.siti-login {
  display: flex;
  align-items: center;
}
.nav-btn {
  display: flex;
  align-items: center;
  gap: 0.9em;
}
.siti-login .nav-create_ {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid white;
  background-color: white;
  color: #222;
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.siti-login .login-btn {
  width: 100px;
  padding: 10px;
  background-color: #8686f1;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.siti-login .login-btn svg {
  color: rgb(255, 255, 255);
  display: block;
}
.mobile-navbar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(20px);
  background-color: #0f0f0f8e;
  backdrop-filter: blur(20px);
  padding: 0px 20px;
  border-top: 1px solid #232323;
  width: 100%;
  z-index: 10;
}
.mb-nav {
  display: flex;
  flex-direction: column;
  padding: 5px 12px;
}
.mb-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
}
.mobile-navbar-active svg {
  color: #afafaf;
  width: 34px;
  height: 34px;
  transition: 0.1s ease;
}

@media (max-width: 900px) {
  .header {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
}
