.about-wrapper {
  padding: 10px 0;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-header {
  text-align: center;
  margin-bottom: 80px;
}

.badge {
  color: #007bff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

.main-title {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.visual-box {
  position: relative;
}

.image-card {
  width: 100%;
  height: 450px;
  background: linear-gradient(135deg, #e0eafc 0%, #cfdef3 100%);
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.image-card img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

@keyframes move {
  from {
    transform: translate(-20%, -20%);
  }
  to {
    transform: translate(20%, 20%);
  }
}

.values-list {
  list-style: none;
  padding: 0;
}

.value-item {
  display: flex;
  margin-bottom: 35px;
  transition: 0.3s;
}

.icon-box {
  min-width: 60px;
  margin-top: 5px;
  height: 60px;
  background: #f0f7ff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  color: #007bff;
}

.value-text h4 {
  margin: 0 0 8px 0;
  font-size: 20px;
  color: #007bff;
}

.value-text p {
  color: #e1e1e1;
  margin: 0;
  line-height: 1.5;
}

.stats-panel {
  margin-top: 80px;
  background: #007bff;
  background: linear-gradient(135deg, #007bff 0%, #0056b3 100%);
  border-radius: 40px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  color: white;
  text-align: center;
}

.stat-card {
  padding: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.stat-card:last-child {
  border-right: none;
}

.stat-value {
  font-size: 48px;
  font-weight: 800;
  display: block;
}

.stat-label {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 990px) {
  .about-wrapper {
    margin-top: 20px;
    padding: 0 0 80px 0;
  }
  .about-container {
    padding: 0;
  }
  .about-header {
    margin-bottom: 30px;
  }
  .about-grid {
    grid-template-columns: 1fr;
  }
  .stats-panel {
    grid-template-columns: 1fr;
    margin-top: 10px;
    gap: 20px;
    border-radius: 30px;
  }
  .stat-card {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .image-card {
    height: 350px;
  }
  .main-title {
    font-size: 32px;
  }
}
