.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}
.dfgh {
  background-color: rgb(34, 34, 105);
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}
.login-google {
  background-color: rgb(215, 215, 215);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  gap: 12px;
}
